.autoplay-progress {
  position: absolute;
  z-index: 10;
}

.autoplay-progress svg {
  --progress: 0;
  transform: rotate(-90deg);
  width: 48px;
  height: 48px;
}

.autoplay-progress circle {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-dasharray: 126;
  stroke-dashoffset: calc(126 * var(--progress));
  transition: stroke-dashoffset 0.3s linear;
}
